@model IEnumerable<FilmProject.Models.Film>

@{
    ViewBag.Title = "Фильмы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;

@if (User.Identity.GetUserId() != null)
{
    <p class="newFilm">
        @Html.ActionLink("Добавить новый фильм", "Create")
    </p>
}




<table class="table table-hover">
@foreach (var item in Model) {
    <tr>
        <td>
            @{
                string imgSrc = String.Empty;
                if (item.Picture != null)
                {
                    var base64 = Convert.ToBase64String(item.Picture);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
            }
            <img class="smallImage" src="@imgSrc" />
        </td>

        <td class="text">
            <h4>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(), "Details", new { id = item.FilmId }) 
                (@Html.DisplayFor(modelItem => item.Year))
            </h4>


            <span>
                @Html.DisplayFor(modelItem => item.Description) ...
            </span>
        </td>

    </tr>
}

</table>
